doctype html
html
  head
    title= title
    meta(name= 'viewport', charset='UTF-8', content='width=device-width', initial-scale=1)
    script(src='http://code.jquery.com/jquery-latest.js', type='text/javascript')
    script(src='/bootstrap/js/popper.min.js', type='text/javascript')
    script(src='/bootstrap/js/bootstrap.min.js', type='text/javascript')    
    script(src='/bootstrap/js/plugins/nouislider.min.js', type='text/javascript')
    script(src='/bootstrap/js/plugins/bootstrap-switch.js', type='text/javascript')
    script(src='/bootstrap/js/plugins/bootstrap-datepicker.js', type='text/javascript')     
    script(src='/javascripts/FiltroTabela.js', type='text/javascript')      
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/demo.css')
    link(rel='stylesheet', href='/bootstrap/css/now-ui-kit.min.css')  
  body
   nav.navbar.navbar-expand-lg.bg-primary(style={background-color:'#000000'})
    .container
     a.navbar-brand(href='/') Studio STX
     button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarTogglerDemo02', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-bar.bar1
      span.navbar-toggler-bar.bar2
      span.navbar-toggler-bar.bar3
     #navbarTogglerDemo02.collapse.navbar-collapse
      ul.navbar-nav.mr-auto.mt-2.mt-lg-0
        li.nav-item
          a.nav-link(href='/pedidos') Pedidos        
        li.nav-item
          a.nav-link(href='/estoque') Estoque
        li.nav-item
          a.nav-link(href='/clientes') Clientes
        li.nav-item
          a.nav-link(href='/fornecedores') Fornecedores
        li.nav-item
          a.nav-link(href='/produtos') Produtos
        li.nav-item
          a.nav-link(href='/financeiro') Finanças
    
     
block content
