doctype html
html
  head
    title= title
    meta(name= 'viewport', charset='UTF-8', content='width=device-width, inicial-scale=1')
    script(src='/bootstrap/js/bootstrap.min.js', type='text/javascript')
    script(src='http://code.jquery.com/jquery-latest.js')
    script(src='/bootstrap/js/popper.min.js', type='text/javascript')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/demo.min.css')
    link(rel='stylesheet', href='/bootstrap/css/now-ui-kit.min.css')
    
  body
    
    ul.nav.nav-pills.nav-pills-danger
     li.nav-item
      a.nav-link.active(href='#') Active
     li.nav-item.dropdown
      a.nav-link.dropdown-toggle(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false') Dropdown
      .dropdown-menu
       a.dropdown-item(href='#') Action
       a.dropdown-item(href='#') Another action
       a.dropdown-item(href='#') Something else here
       .dropdown-divider
       a.dropdown-item(href='#') Separated link
     li.nav-item
      a.nav-link(href='#') Link
     li.nav-item
      a.nav-link.disabled(href='#') Disabled    

     
block content
