extends ../layout

block content
  h1= Produtos
  .container
   table.table.mr-auto
    thead
      tr
       th.text-center Cod
       th Descrição
       th Peso
       th Preço Custo
       th Preço Revenda
       th Preço Cliente
       th Materia Prima
       th.text-right Actions
    tbody
     each produto, i in produtos.rows
      tr
       td.text-center {#produto.idproduto}
       td {#produto.descricao}
       td {#produto.peso}
       td 
       td.td-actions.text-right
          a(href='/produtos/editar/#{produto.idproduto}')
           button.btn.btn-success(type='button', rel='tooltip')
            i.now-ui-icons.ui-2_settings-90
          a(href='/produtos/delete/#{pedido.idproduto')
           button.btn.btn-danger(type='button', rel='tooltip')
            i.now-ui-icons.ui-1_simple-remove
      